body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  background-color: #c8c8fa; /* You can set your preferred background color */
}

#toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Make the toolbar background transparent */
  padding: 10px;
  text-align: center;
  border: none; /* Remove any border */
}

#toolbar button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #f8c9de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#toolbar button:hover {
  background-color: #e64297;
}
